@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  display: block;
}

input {
  @apply transition-all duration-300;
}

button {
  @apply transition-all duration-300;
}

/* Estilo para el botón de registro */
.register-button {
  position: relative;
  overflow: hidden;
}

.register-button::before {
  content: '';
  @apply absolute inset-0 bg-green-500/10 dark:bg-green-400/10;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.register-button:hover::before {
  transform: translateX(0);
}