@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Fondo blanco en modo claro */
  -webkit-text-fill-color: #1f2937 !important; /* Color de texto (gray-900) */
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1f2937 inset !important; /* Fondo oscuro en modo oscuro (gray-800) */
  -webkit-text-fill-color: #f3f4f6 !important; /* Color de texto (gray-200) */
}